body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    margin-top: 20px;
}

.question-container {
    margin-bottom: 20px;
}

.btn-submit {
    background-color: #004f9f;
    color: white;
}

.timer {
    text-align: right;
    margin-bottom: 20px;
    font-weight: bold;
}

.result,
.show-mistakes {
    display: none;
    margin-top: 20px;
}

header {
    background-color: #004f9f;
    color: white;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header-content h1 {
    margin: 0;
}

.timer {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.timer img {
    margin-right: 5px;
}

main {
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}